* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: grid;
  place-items: center;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white;
  position: relative;
  /* top: -5%; */
  background-color: lightslategray;
}

#main-block {
    background-color: slategray;
    padding: 3vh;
    margin: 2vh;
    aspect-ratio:4/3;
    max-height: 100vh;
    max-width: 120vh;
    width: 95%;
    height: auto;
    position: relative;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}

/* #main-block div {
    display: flex;
} */

.gap {
    height: 12.8%;
}

/* #boxID31 {
    background-color: white;
} */

/* 
#midBlockBackground {
    position: absolute;
    background-color: white;
    height: 75.5%;
    width: 28.8%;
    top: 14.45%;
    z-index: 0;
} */


/* ////////////////////////////////////////////////////////////////////////////////////// */
#home-page {
    /* background-color: orange; */
    width: 100%;
    height: 100%;
    /* display: none; */
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-left: 3%;
    /* align-items: center; */
    justify-content: center;
    overflow: hidden;
}

#game-title {
    margin-bottom: 10%;
}

.home-buttons {
    cursor: pointer;
    background: linear-gradient(45deg,aqua, white);
    background-size: 200%;
    background-position: 100% 0;
    border: 1px solid white;
    box-shadow: 10px 5px 10px #999, inset 3px 5px 3px #fff;
    width: 100%;
    margin: 1%;
    margin-left: 20%;
    padding: 3%;
    text-align: left;
    transition: transform 0.5s ease, filter 0.5s ease-in-out;
    filter: brightness(.90);
}

.home-buttons:hover {
    transform: translateX(-4%);
    filter: brightness(1);
}



/* ////////////////////////////////////////////////////////////////////////////////////// */
#play-page {
    width: 100%;
    height: 100%;
    display: none;
    /* display: flex; */
    justify-content: center;
}

/* ////////////////////////////////////////////////////////////////////////////////////// */
#left-block {
    /* background-color: red; */
    width: 20%;
    height: 93%;
    display: flex;
    flex-direction: column;
    position: relative;
}

#hold-block {
    background-color: white;
    width: 100%;
    /* height: 20%; */
    aspect-ratio: 10/7;
    display: flex;
    flex-direction: column;
    clip-path: polygon(
    12% 100%,
    0 85%,
    0 0,
    100% 0,
    100% 100%
    );
    
}

#hold-text {
    background-color: white;
    color: black;
}

#hold-area {
    background-color: black;
    margin: 0 0 2% 2%;
    flex-grow: 1;
    display: grid;
    place-items: center;
    clip-path: polygon(
    11% 100%,
    0 79%,
    0 0,
    100% 0,
    100% 100%
  );
}

.hold-indi {
  display: grid;
  margin: 5%;
}

#stats-block {
    /* background-color: lawngreen; */
    width: 100%;
    aspect-ratio: 1/2;
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: right;
    align-items: flex-end;
}




/* ////////////////////////////////////////////////////////////////////////////////////// */
#mid-block {
    /* background-color: white; */
    width: 30%;
    display: flex;
    flex-direction: column;
    position: relative;
    /* z-index: 2; */
}

#game-area {
    /* background-color: black; */
    margin: 0 .8% .8% .8%;
    /* flex-grow: 1; */
    display: flex;
    flex-wrap: wrap;
    /* position: absolute; */
}

.box {
    /* width: 10px; */
    width: 10%;
    /* height: 3.36vh; */
    text-align: center;
    /* padding: 10px; */
    box-sizing: border-box;
    aspect-ratio: 1/1;
    z-index: 2;
}


.bottom {
    background-color: wheat;
}

#mid-block-background {
    position: absolute;
    background-color: white;
    height: 80.8%;
    width: 100%;
    top: 11.9%;
    right: .01%;
    z-index: 1;
}

/* ////////////////////////////////////////////////////////////////////////////////////// */
#right-block {
    /* background-color: blue; */
    width: 20%;
    height: 93%;
    display: flex;
    flex-direction: column;
    position: relative;
}

#next-block {
    background-color: white;
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;

    clip-path: polygon(
    85% 100%,
    0 100%,
    0 0,
    100% 0,
    100% 95%
  );
}

#next-text {
    background-color: white;
    color: black
}

#next-area {
    background-color: black;
    margin: 0 2% 2% 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    gap: 3%;  
    clip-path: polygon(
    86% 100%,
    0 100%,
    0 0,
    100% 0,
    100% 95%
  );
}

.line-up-indi {
  display: grid;
  margin: 5%;
}


/* #next-area div {
    background-color: gray;
    margin: 5%;
    height: 100%;
    display: grid;
    place-items: center;
} */