* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
    font-family: "Saira", sans-serif;
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    color: white;
    position: absolute; 
    background-image: url('./assets/gradient.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    align-items: center;
}
#big-div {
    width: 100%;
    height: 100%;
    position: relative;
    transition: opacity 2s ease;
}
.big-div-show {
    display: flex;
    flex-direction: column;
    
    align-items: center;
    justify-content: center;
}

/* ////////////////////////////////////// HOME PAGE //////////////////////////////////////////// */
#home-page {
    width: 100%;
    aspect-ratio: 4/3;
    z-index: 1;
    transition: opacity 0.5s ease;
}
.home-page {
    opacity: 0;
}

#game-title {
    position: relative;
    top: 3%;
    left: 3%;
}

/* /////////////////// MAIN MENU BUTTONS */
#button-divs {
    position: relative;
    top: 10%;
    left: 0%;
    display: flex;
    flex-direction: column;   
    justify-content: center;
    z-index: 1;
}
#play-button {
    background: linear-gradient(45deg,rgb(39, 195, 0), black);
}
#settings-button {
    background: linear-gradient(45deg,rgb(132, 0, 193), black);
}
#tutorial-button {
    background: linear-gradient(45deg,rgb(0, 146, 179), black);
}
.home-buttons {
    cursor: pointer;
    background-size: 200%;
    background-position: 100% 0;
    border: 1px solid white;
    box-shadow: 10px 5px 10px #000000, inset 5px 2px 3px #fff;
    width: 100%;
    margin: 1%;
    margin-left: 20%;
    padding: 2%;
    text-align: left;
    transform: translateX(100%);
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.5s ease, filter 0.5s ease-in-out, box-shadow 0.5s ease;
    filter: brightness(0.65);
}
.home-buttons:hover {
    transform: translateX(-4%);
    filter: brightness(1);
    box-shadow: 60px 20px 20px #000000, inset 2px 1px 1px #fff;
}

/* /////////////////// PLAY CHILD BUTTONS */
#play-child-buttons-divs {
    position: relative;
    top: 10%;
    left: 0%;
    display: flex;
    flex-direction: column;   
    justify-content: center;
    z-index: 1;
}
#forty-button {
    background: linear-gradient(45deg,rgb(210, 0, 0), black);
}
#marathon-button {
    background: linear-gradient(45deg,rgb(179, 128, 0), black);
}
.play-child-buttons {
    cursor: pointer;
    background-size: 200%;
    background-position: 100% 0;
    border: 1px solid white;
    box-shadow: 10px 5px 10px #000000, inset 5px 2px 3px #fff;
    width: 100%;
    margin: 1%;
    margin-left: 20%;
    padding: 2%;
    text-align: left;
    transform: translateX(100%);
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.5s ease, filter 0.5s ease-in-out, box-shadow 0.5s ease;
    filter: brightness(0.65);
}
.play-child-buttons:hover {
    transform: translateX(-4%);
    filter: brightness(1);
    box-shadow: 60px 20px 20px #000000, inset 2px 1px 1px #fff;
}
#play-child-back {
    cursor: pointer;
    background-color: black;
    position: fixed;
    text-align: center;
    align-content: center;
    padding: 1%;
    bottom: 10%;
    left: 10%;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out, box-shadow 0.5s ease, background 0.5s ease, color 0.5s ease;
    box-shadow: 10px 5px 10px #000000;
    z-index: 3;
}
#play-child-back:hover {
    transform: scale(1.1);
    background: white;
    color: black;
    box-shadow: 15px 10px 20px #000000;
}
.play-child-back {
    opacity: 0;
}


/* /////////////////// TUTORIAL SCREEN */
#settings-screen {
    /* background: gray; */
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;
    align-content: center;
    transition: opacity 0.7s ease;
    aspect-ratio:5/3;
    max-height: 72vh;
    max-width: 120vh;
    width: 95%;
}
.settings-screen {
    transform: translate(-50%, -50%);
    opacity: 0;
}
#settings-block {
    width: 100%;
    /* height: 100%; */
    justify-items: center;
    align-content: center;
}
#settings-main-div {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
}
.settings-sub-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.toggle-switch {
    width: 9%;
    aspect-ratio: 3/2;
    align-content: center;
    padding: 0 0.7%;
    /* border: 0.3em solid rgb(108, 108, 108); */
    border-radius: 100px;
}
.toggle-switch-circle {
    background: white;
    height: 80%;
    aspect-ratio: 1/1;
    border-radius: 50%;
}
.toggle-true {
    background: rgb(108, 185, 120);
    justify-items: right;
}
.toggle-false {
    background: rgb(121, 121, 121);
    justify-items: left;
}

#settings-back {
    cursor: pointer;
    background-color: black;
    position: fixed;
    text-align: center;
    align-content: center;
    padding: 1%;
    bottom: 10%;
    left: 10%;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out, box-shadow 0.5s ease, background 0.5s ease, color 0.5s ease;
    box-shadow: 10px 5px 10px #000000;
    z-index: 3;
}
#settings-back:hover {
    transform: scale(1.1);
    background: white;
    color: black;
    box-shadow: 15px 10px 20px #000000;
}
.settings-back {
    opacity: 0;
}


/* /////////////////// TUTORIAL SCREEN */
#tutorial-screen {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;
    align-content: center;
    transition: opacity 0.7s ease;
    aspect-ratio:5/3;
    max-height: 72vh;
    max-width: 120vh;
    width: 95%;
}
.tutorial-screen {
    transform: translate(-50%, -50%);
    opacity: 0;
}
#tutorial-block {
    width: 100%;
    height: 100%;
}
#key-main-div {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;    
    width: 100%; 

}
.key-sub-div {
    display: flex;
    flex-direction: row;
    margin: 1%;
    width: 40%;
    align-items: center;
    gap: 5%;
    margin-left: 15%;
}
.key {
    background: rgb(74, 74, 71);
    box-shadow: inset 0 -2px 3px #8a8a8a, 0px 0px 5px #2e2e2e;
    border: 2px solid rgb(55, 55, 55);
    border-radius: 6px;
    color: white;
    width: 16%;
    aspect-ratio: 1/1;
    place-content: center;
    text-align: center;
}
#tutorial-back {
    cursor: pointer;
    background-color: black;
    position: fixed;
    text-align: center;
    align-content: center;
    padding: 1%;
    bottom: 10%;
    left: 10%;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out, box-shadow 0.5s ease, background 0.5s ease, color 0.5s ease;
    box-shadow: 10px 5px 10px #000000;
    z-index: 3;
}
#tutorial-back:hover {
    transform: scale(1.1);
    background: white;
    color: black;
    box-shadow: 15px 10px 20px #000000;
}
.tutorial-back {
    opacity: 0;
}

/* ////////////////////////////////////// PLAY PAGE //////////////////////////////////////////// */
#play-page {
    padding: 3vh;
    margin: 2vh;
    aspect-ratio:4/3;
    max-height: 100vh;
    max-width: 120vh;
    width: 95%;
    position: relative;
    display: flex;
    justify-items: center;
    box-sizing: border-box;
    transition: opacity 2s ease;
}
.play-page {
    opacity: 0;
}

/* /////////////////// MAIN BLOCK*/
#main-block {
    width: 100%;
    height: 100%;
    justify-content: center;
}
.main-block {
    transition: transform 2s ease-in, opacity 1s ease-in;
    display: flex;
    opacity: 0;
}
.main-block-fall {
    transform: translateX(-50%) rotate(-20deg) translateY(200%);
    opacity: 0;
}
.main-block-scale {
    transform: scale(4);
    opacity: 0;
}
.main-block-shake {
    transform: translateX(-0.1%) translateY(0.3%);
    transition: transform 0.1s;
}

.main-block-unshake {
    transform: translateX(0) translateY(0);
    transition: transform 0.1s;
}
/* /////////////////// SPACER GAP DIV*/
.gap {
    height: 12.8%;
}

/* /////////////////// WHITE PARTS*/
.white-parts-div {
    background-color: white;
    transition: background-color 0.3s ease-in-out;
}
.white-parts-text {
    color: white;
    transition: color 0.3s ease-in-out;
}

.white-parts-div-red {
    background-color: red;
}
.white-parts-text-red {
    color: red;
}

.gameboard-text {
    padding-left: 2%;
    line-height: 100%;
}


/* /////////////////// MAIN BLOCK*/
.filled, .play-piece, .line-up-piece-filled, .hold-piece-filled {
    box-shadow: inset 5px 5px 5px 1px rgba(199, 199, 199, 0.3);
}
.ghost-piece {
    box-shadow: inset 0px 0px 10px 5px rgba(255, 255, 255, 0.5);
}
.ghost-piece-hidden {
    box-shadow: none;
}
.ghost-piece-place {
    filter: brightness(0) invert(0.9);
    transition: filter 0.5s ease;
}
.ghost-piece-place-fast {
    filter: brightness(0) invert(0.9);
    transition: filter 0.1s ease;
}
.ghost-piece-place-fast-line-clear {
    filter: none;
    transition: filter 0s;
}

/* /////////////////// LEFT BLOCK*/
#left-block {
    width: 20%;
    height: 93%;
    display: flex;
    flex-direction: column;
    position: relative;
}
#hold-block {
    width: 100%;
    aspect-ratio: 10/7;
    display: flex;
    flex-direction: column;
    clip-path: polygon(
    12% 100%,
    0 85%,
    0 0,
    100% 0,
    100% 100%
    );   
}
#hold-area {
    background-color: black;
    margin: 0 0 2% 2%;
    flex-grow: 1;
    display: grid;
    place-items: center;
    clip-path: polygon(
    11% 100%,
    0 79%,
    0 0,
    100% 0,
    100% 100%
  );
}
#hold-text {
    color: black;
}
.hold-indi {
  display: grid;
  margin: 5%;
}

/* /////////////////// STATS*/
#stats-block {
    width: 100%;
    aspect-ratio: 1/2;
    position: absolute;
    bottom: 1%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
#stat-1-stat, #stat-2-stat, #stat-3-stat {
    line-height: 70%;
}
#stat-1-small, #stat-3-small {
    line-height: 10%;
}

/* /////////////////// MID BLOCK*/
#mid-block {
    width: 30%;
    display: flex;
    flex-direction: column;
    position: relative;
}
#mid-block-background {
    position: absolute;
    height: 100%;
    width: 100%;
    right: .01%;
    z-index: 1;
    clip-path: polygon(
    100% 92.7%,
    0 92.7%,
    0 11.9%,
    100% 11.9%,
    100% 100%
    );
}
#game-grid {
    margin: 0 .8% .8% .8%;
    display: flex;
    flex-wrap: wrap;
}
.box {
    width: 10%;
    text-align: center;
    box-sizing: border-box;
    aspect-ratio: 1/1;
    z-index: 2;
}

/* /////////////////// RIGHT BLOCK*/
#right-block {
    width: 20%;
    height: 93%;
    display: flex;
    flex-direction: column;
    position: relative;
}
#next-block {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    clip-path: polygon(
    85% 100%,
    0 100%,
    0 0,
    100% 0,
    100% 95%
  );
}
#next-area {
    background-color: black;
    margin: 0 2% 2% 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    flex-grow: 1;
    clip-path: polygon(
    86% 100%,
    0 100%,
    0 0,
    100% 0,
    100% 95%
  );
}
#next-text {
    color: black
}
.line-up-indi {
  display: grid;
  margin: 5%;
}

/* /////////////////// COUNTDOWN*/
#countdown-screen {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 50%;
    left: 50%;
    z-index: 3;
    text-align: center;
    justify-items: center;
    align-content: center;
    z-index: 3;
}
.countdown-screen {
    opacity: 0;
    transform: translate(-50%, -50%);
    transition: opacity 0.5s ease, transform 1s ease;
}
#countdown-message-div {
    background: radial-gradient(
        circle, 
        rgba(0, 0, 0, 1) 20%, 
        rgba(0, 0, 0, 0) 100%
    );
    width: 40%;
    transition: opacity 0.5s ease;
}
.countdown-message-div {
    opacity: 0;
}


/* /////////////////// END SCREEN*/
#end-screen {
    background: gray;
    position: absolute;
    height: 90%;
    width: 100%;
    top: 50%;
    left: 50%;
    z-index: 3;
    text-align: center;
    justify-items: center;
}
.end-screen {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.5);
    transition: opacity 2s ease, transform 1s ease;
}
.show-end-screen {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}
.hide-end-screen-zoom-in {
    opacity: 0;
    transform: translate(-50%, -50%) scale(20);
    transition: opacity 1s ease, transform 1s ease;
}
.hide-end-screen-zoom-out {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.5);
    transition: opacity 0.5s ease, transform 0.5s ease;
}
#end-result {
    margin-top: 10%;
}
.end-line {
    margin: 3%;
}
#end-screen-buttons-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 60%;
    gap: 5%;
    margin-top: 10%;
}
.end-screen-buttons {
    cursor: pointer;
    background: black;
    padding: 5%;
    width: 100%;
    transition: transform 0.3s ease-in-out, background 0.5s ease, color 0.5s ease;
}
.end-screen-buttons:hover {
    background: white;
    color: black;
    transform: scale(1.1);
}

/* /////////////////// GLOBAL ANIMATION CLASSES*/
.show {
    opacity: 1;
}
.hide {
    display: none;
}
.button-show {
    opacity: 1;
    transform: translateX(0);
}
.button-hide {
    transform: translateX(100%);
    display: none;
}
