* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  /* display: flex;
  flex-direction: column; */
  align-items: center;
  justify-content: center;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white;
  position: relative;
  background-color: rgb(48, 49, 51);
}
.body-main-show {
    display: flex;
    flex-direction: column;
}



/* ////////////////////////////////////////////////////////////////////////////////////// */
#home-page {
    /* background-color: orange; */
    width: 100%;
    height: 100%;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    overflow: hidden;
    z-index: 1;
    transition: opacity 0.5s ease;
}
.home-page {
    opacity: 0;
}

#game-title {
    /* margin-bottom: 5%; */
    position: relative;
    top: 3%;
    left: 3%;
}

#button-divs {
    /* margin-top: 5%; */
    position: relative;
    top: 10%;
    left: 0%;
    display: flex;
    flex-direction: column;   
    justify-content: center;
    overflow: hidden;
    z-index: 1;
}

.home-buttons {
    cursor: pointer;
    background: linear-gradient(45deg,aqua, white);
    background-size: 200%;
    background-position: 100% 0;
    border: 1px solid white;
    box-shadow: 10px 5px 10px #999, inset 3px 5px 3px #fff;
    width: 100%;
    /* height: 200%; */
    margin: 1%;
    margin-left: 20%;
    padding: 2%;
    text-align: left;
    transform: translateX(100%);
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.5s ease, filter 0.5s ease-in-out;
    filter: brightness(.90);
}
.home-buttons:hover {
    transform: translateX(-4%);
    filter: brightness(1);
}


#play-child-buttons-divs {
    /* margin-top: 5%; */
    position: relative;
    top: 10%;
    left: 0%;
    display: flex;
    flex-direction: column;   
    justify-content: center;
    overflow: hidden;
    z-index: 1;
}

.play-child-buttons {
    cursor: pointer;
    background: linear-gradient(45deg,aqua, white);
    background-size: 200%;
    background-position: 100% 0;
    border: 1px solid white;
    box-shadow: 10px 5px 10px #999, inset 3px 5px 3px #fff;
    width: 100%;
    /* height: 200%; */
    margin: 1%;
    margin-left: 20%;
    padding: 2%;
    text-align: left;
    transform: translateX(100%);
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.5s ease, filter 0.5s ease-in-out;
    filter: brightness(.90);
}
.play-child-buttons:hover {
    transform: translateX(-4%);
    filter: brightness(1);
}
#play-child-back {
    cursor: pointer;
    background-color: black;
    font-size: 200%;
    font-weight:700;
    position: fixed;
    text-align: center;
    align-content: center;
    /* width: 10%; */
    /* height: 5%; */
    padding: 1%;
    bottom: 10%;
    left: 10%;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}
#play-child-back:hover {
    transform: scale(1.2);
}
.play-child-back {
    opacity: 0;
}

/* #overlay {
    background: black;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 2;
}
.overlay {
    opacity: 0;
}

#play-mode {
    background: gray;
    position: fixed;
    z-index: 3;
    width: 50%;
    height: 50%;
    aspect-ratio: 4/3;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 0.2s ease-in-out;
}
.play-mode {
    opacity: 0;
} */


/* ////////////////////////////////////////////////////////////////////////////////////// */
#main-block {
    /* background-color: slategray; */
    padding: 3vh;
    margin: 2vh;
    aspect-ratio:4/3;
    max-height: 100vh;
    max-width: 120vh;
    width: 95%;
    height: auto;
    position: relative;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    transition: opacity 2s ease;
}
.main-block {
    opacity: 0;
}

.show-main {
    opacity: 1;
}

#play-page {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    transition: transform 2s ease-in, opacity 1s ease-in;
}
.play-page {
    opacity: 0;
}
.play-page-fall {
    transform: translateX(-50%) rotate(-20deg) translateY(200%);
    opacity: 0;
}
.play-page-scale {
    transform: scale(4);
    opacity: 0;
}

.white-parts-div {
    background-color: white;
    transition: background-color 0.3s ease-in-out;
}
.white-parts-text {
    color: white;
    transition: color 0.3s ease-in-out;
}

.white-parts-div-red {
    background-color: red;
}
.white-parts-text-red {
    color: red;
}


.gap {
    height: 12.8%;
}


/* ////////////////////////////////////////////////////////////////////////////////////// */
#left-block {
    /* background-color: red; */
    width: 20%;
    height: 93%;
    display: flex;
    flex-direction: column;
    position: relative;
}

#hold-block {
    /* background-color: white; */
    width: 100%;
    /* height: 20%; */
    aspect-ratio: 10/7;
    display: flex;
    flex-direction: column;
    clip-path: polygon(
    12% 100%,
    0 85%,
    0 0,
    100% 0,
    100% 100%
    );
    
}

#hold-text {
    /* background-color: white; */
    color: black;
}

#hold-area {
    background-color: black;
    margin: 0 0 2% 2%;
    flex-grow: 1;
    display: grid;
    place-items: center;
    clip-path: polygon(
    11% 100%,
    0 79%,
    0 0,
    100% 0,
    100% 100%
  );
}

.hold-indi {
  display: grid;
  margin: 5%;
}

#stats-block {
    /* background-color: lawngreen; */
    width: 100%;
    aspect-ratio: 1/2;
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: right;
    align-items: flex-end;
}




/* ////////////////////////////////////////////////////////////////////////////////////// */
#mid-block {
    /* background-color: white; */
    width: 30%;
    display: flex;
    flex-direction: column;
    position: relative;
    /* z-index: 2; */
}

#game-area {
    /* background-color: black; */
    margin: 0 .8% .8% .8%;
    /* flex-grow: 1; */
    display: flex;
    flex-wrap: wrap;
    /* position: absolute; */
}

.box {
    /* width: 10px; */
    width: 10%;
    /* height: 3.36vh; */
    text-align: center;
    /* padding: 10px; */
    box-sizing: border-box;
    aspect-ratio: 1/1;
    z-index: 2;
}


#mid-block-background {
    position: absolute;
    height: 80.8%;
    width: 100%;
    top: 11.9%;
    right: .01%;
    z-index: 1;
}

/* ////////////////////////////////////////////////////////////////////////////////////// */
#right-block {
    /* background-color: blue; */
    width: 20%;
    height: 93%;
    display: flex;
    flex-direction: column;
    position: relative;
}

#next-block {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;

    clip-path: polygon(
    85% 100%,
    0 100%,
    0 0,
    100% 0,
    100% 95%
  );
}

#next-text {
    color: black
}

#next-area {
    background-color: black;
    margin: 0 2% 2% 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    gap: 3%;  
    clip-path: polygon(
    86% 100%,
    0 100%,
    0 0,
    100% 0,
    100% 95%
  );
}

.line-up-indi {
  display: grid;
  margin: 5%;
}


/* ////////////////////////////////////////////////////////////////////////////////////// */
#end-screen {
    background: gray;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 50%;
    left: 50%;
    z-index: 3;
    text-align: center;
    /* place-content: center; */
    justify-items: center;
    /* transition: opacity 2s ease, transform 1s ease-out;    */
}
.end-screen {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.5);
    transition: opacity 2s ease, transform 1s ease;
}
.show-end-screen {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}
.hide-end-screen-zoom-in {
    opacity: 0;
    transform: translate(-50%, -50%) scale(20);
}
.hide-end-screen-zoom-out {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.5);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

#end-result {
    margin-top: 10%;
}
.end-line {
    margin: 3%;
}

#end-screen-buttons-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 40%;
    gap: 5%;
    /* width: 10%;
    height: 10%; */
    margin-top: 10%;
}
.end-screen-buttons {
    cursor: pointer;
    background: black;
    padding: 5%;
    /* width: 100%;
    height: 100%; */
}




/* ////////////////////////////////////////////////////////////////////////////////////// */

.show {
    opacity: 1;
}
.hide {
    display: none;
}

.button-show {
    opacity: 1;
    transform: translateX(0);
}
.button-hide {
    transform: translateX(100%);
    display: none;
}


.stun {
    pointer-events: none;
}

